@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero-section,
.info-section,
.quote-section,
.cta-section {
  border: 1px solid blueviolet;
  display: flex;
  justify-content: center;
}

.hero-container,
.info-container,
.quote-container,
.cta-container {
  border: 1px solid yellowgreen;
  width: 75%;
}

.hero-section,
.footer-section {
  background-color: #3b1e0f;
  color: #ffffff;
}

/* hero section */
.hero-container{
min-height: 500px;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

}

ul {
  display: flex;
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li {
  margin-left: 24px;
}

.logo-text {
  font-size: 30px;
  color: #ffffff;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
}